<main class="main">

    <div class="sidebar" style="height: 100vh;">
        
        <h2>Aut'Up</h2>
        <ul>
            <li><a routerLink="accueil" routerLinkActive="active-link"><i class="fa-solid fa-house fa-xl" style="color: #347bd8;" ></i> dashboard</a></li>
            <button class="btn"   routerLink="/login-parent" >Déconnexion</button>

        </ul>
    </div>
    
    

    <div class="container-fluid">
        <h4>Details Patients</h4>

        <div class="row">
          <div class="col-md-12">
          </div>
        </div>
        <table class="table">

          <thead>
            <tr class="table-primary">
              <th scope="col">#</th>
              <th scope="col">Identifiant</th>
              <th scope="col" class="text-center">Frequence Cardiaque</th>
              <th scope="col" class="text-center">Frequence Respiratoire</th>
              <th scope="col" class="text-center">temperature</th>

              <th scope="col" class="text-center">Niveau De Batterie</th>
      
      
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="userData">
                <td>{{userData.giletid}}</td>
              <td>{{userData.giletid}}</td>
              <td class="text-green">{{userData.frequenceCardiaqueRealtime}} </td>
              <td  class="text-yellow">{{userData.frequenceRespiratoireRealtime}} </td>
              <td  class="text-orange">{{userData.temperatureRealtime}} </td>

              <td> {{userData.nivauBaterie}}</td>
              <td class="text-center">
               <!--<a routerLink="../donnee-physiologique" type="button" class="btn btn-primary"><i class="fa-solid fa-book" style="color: white;"></i></a>&nbsp;
                <a routerLink="../geolocalisation" type="button" class="btn btn-primary"><i class="fa-solid fa-location-dot" style="color: white;"></i></a> -->
      
      
              </td>
            </tr>
          </tbody>
        </table>
    

    <div class="container">

   <div class="row">
        
     </div>
     <div class="row">  
        <div class="col-md-12">
            
        </div>
        </div>
        <div class="col-md-6">
            <h4>Geolocalisation</h4>
     <div  class="row"style="display: flex; justify-content: flex-start;">
        <div #mapContainer id="map"class="content"style="width:50%; height:60%; position: absolute; top: 8; bottom: 8;"> </div>
        </div>

        <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoibXRyYW9yZSIsImEiOiJjbGxnc2k3Ym8wMzY0M2RxdXdoOWVpZzE5In0.doe1M3qP3G58qUD5nti0Cg';
        const map = new mapboxgl.Map({
                    container: 'map',
                // Choose from Mapbox's core styles, or make your own style with Mapbox Studio
                style: 'mapbox://styles/mapbox/streets-v12',
                center: [-4.0187478065,5.3389563560],
                zoom: 12
                });
                
                // Create a default Marker and add it to the map.
                const marker1 = new mapboxgl.Marker()
                .setLngLat([-4.0187478065,5.3389563560])
                .addTo(map);
 



       
        </script> 
    </div>
       </div>
       </div>
    
</main>
<!-- <router-outlet></router-outlet> -->
