<main>


  <div class="container">
    <h4>Tableau de bord</h4>
  </div>


  <img 
  src="./assets/doctor-avatar.jpg"
  alt="Avatar"
  class="rounded-circle avatar-md"
  style="color: #28a745;  position: absolute; top: 0; right: 0"
  width="50"

  
>





  <div class="container mt-5 main-square">
    <div class="square-content">
      <div class="square1"  >
        <div class="top">
          <i class="fa-solid fa-user-group" style="color: #347bd8;"></i>
          <h5>Patients</h5>
        </div>
        <div class="bottom">
          
          <h5 class="with-icon">05</h5>

          <i class="fa-solid fa-chart-column fa-xl" style="color: #347bd8;"></i>
        </div>
      </div>
      <div class="square">
        <div class="top">
          <i class="fa fa-line-chart " style="color: #347bd8; font-size: 30px;"></i>
          <h5>Normaux</h5>
        </div>
        <div class="bottom">
          <h5 class="with-icon">04</h5>
          <i class="fa-solid fa-chart-column fa-xl" style="color: #347bd8;"></i>
        </div>
      </div>

      <div class="square">
        <div class="top">

          <i class="fa-solid fa-chart-line fa-2x" style="color: #347bd8;"></i>
          <h5>Anormaux</h5>
        </div>
        <div class="bottom">
          <h5 class="with-icon">01</h5>

          <i class="fa-solid fa-chart-column fa-xl" style="color: #347bd8;"></i>
        </div>
      </div>
    </div>



  </div>
  <div>

    <table class="table">
      <thead>
        <tr class="table-primary">
          <th scope="col">#</th>
          <th scope="col">Identifiant</th>
          <th scope="col" class="text-center">Frequence Cardiaque</th>
          <th scope="col" class="text-center">Frequence Respiratoire</th>
  
          <th scope="col" class="text-center">Niveau De Batterie</th>
          <th scope="col" class="text-center">Action</th>
  
  
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patient of patientList, let i = index"  [ngClass]="getColorClass(patient)">
          <th scope="row">{{i + 1}}</th>
          <td>{{patient.giletid}}</td>
          <td>{{patient.frequenceCardiaqueRealtime}} </td>
          <td>{{patient.frequenceRespiratoireRealtime}} </td>
          <td> {{patient.nivauBaterie}}</td>
          <td class="text-center">
            <!--<a routerLink="../carnet-de-sante" type="button" class="btn btn-primary"><i class="fa-solid fa-staff-snake"
                style="color: white;"></i></a> &nbsp; -->
            <!--<a routerLink="../donnee-physiologique" type="button" class="btn btn-primary"><i class="fa-solid fa-book" style="color: white;"></i></a>&nbsp; -->
            <a routerLink="../geolocalisation" type="button" class="btn btn-primary"><i class="fa-solid fa-eye" style="color: white;"></i></a>
  
  
          </td>
        </tr>
      </tbody>
    </table>
   
  
</div>



 

</main>

