<div class="container-fluid">
    <div class="row">
    
    <h4>Géolocalisation</h4>
 </div>
 <div class="row justify-content-center">  
    <div class="col-md-4">
        
    </div>
    </div>
    <div class="col-md-8">

 <div  class="row"style="display: flex; justify-content: center;">
    <div #mapContainer id="map"class="content"style="width:55%; height:80%; position: absolute; top: 2; bottom: 0;"> </div>
    </div>

    <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoibXRyYW9yZSIsImEiOiJjbGxnc2k3Ym8wMzY0M2RxdXdoOWVpZzE5In0.doe1M3qP3G58qUD5nti0Cg';
    const map = new mapboxgl.Map({
container: 'map',
// Choose from Mapbox's core styles, or make your own style with Mapbox Studio
style: 'mapbox://styles/mapbox/streets-v12',
center: [-4.0187478065,5.3389563560],
zoom: 8
});

// Create a default Marker and add it to the map.
const marker1 = new mapboxgl.Marker()
.setLngLat([-4.0187478065,5.3389563560])
.addTo(map);  
    </script> 
   </div>
</div>


  